.texture-paper::before {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/texture-paper.webp");
    background-size: 280px 280px;
}


.bg-dots-bg {
    background-image: url("../img/dots-bg.webp");
}

.bg-lines-h2-bg {
    background-image: url("../img/lines-h2-bg.webp");
}

.bg-banniere {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../img/la-chouette-agence-banniere.webp");
}

.bg-presentation {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../img/image-de-presentation.webp");
}